<div class="container">
    <h2 style="margin-top: 3%;">Liste des visites</h2>

    <div *ngIf="dataIsEmpty && filteredVisites.length === 0" class="no-visits-message">
        Aucune visite programmée pour le moment.
    </div>
    
    <div class="search-bar" *ngIf="!dataIsEmpty">
        <div style="margin-bottom: 5px;">
            <label for="filterType">Filtrer par :</label>
            <select id="filterType" [formControl]="filterTypeControl">
                <option value="acq">Nom acquéreur</option>
                <option value="date">Date</option>
                <option value="ccial">ID commercial</option>
                <option value="dossier">ID dossier</option>
            </select>
        </div>
        <input [formControl]="searchControl" placeholder="Recherche..." />
    </div>
    <div *ngIf="filteredVisites.length === 0 && searchControl.value" class="no-results-message">
        Aucun résultat ne correspond à la recherche.
    </div>
    <div class="container_body">
        <table *ngIf="!dataIsEmpty && filteredVisites.length > 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Acquéreur</th>
                    <th>Commercial</th>
                    <th>Dossier</th>
                    <th>Annulée</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let visite of filteredVisites">
                    <td>{{ visite.id }}</td>
                    <td>{{ visite.date_start | date:'fullDate':'':'fr-FR' }}</td>
                    <td>{{ visite.date_end | date:'fullDate':'':'fr-FR' }}</td>
                    <td>{{ visite.acq_name }}</td>
                    <td>{{ visite.ccial_id }}</td>
                    <td>{{ visite.dossier_id }}</td>
                    <td>{{ visite.canceled ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>